<div class="grid-container">
    <div class="actions-container">
        <input id="uploadBtn" type="file"
           (change)="readExcel($event)"
           class="upload input-common" required />


        <ng-select class="select-field" placeholder="Search Cities"
               [clearable]="true"
               [(ngModel)]="selected"
               (change)="getSelected()">
        <ng-option *ngFor="let city of cities; let i = index" [value]="city">
            {{city}}
        </ng-option>
    </ng-select>
    </div>
    <jqxGrid
             ngClass="grid"
             [source]="sourceGridData"
             [autoheight]="true"
             [pageable]="true"
             [altrows]="true"
             [filterable]="true"
             [showfilterrow]="true"
             [sortable]="true"
             [columns]="columns"
             [showaggregates]="true"
             [showstatusbar]="true"
             width="820"
             #grid>
    </jqxGrid>
    <jqxChart [width]="820" [height]="500"
              [title]="'Ventas de Productos'"
              [description]="chartTitle"
              [colorScheme]="'scheme01'"
              [source]="productsCounter"
              [xAxis]="xAxis"
              [seriesGroups]="seriesGroups"
              #chartReference>
    </jqxChart>
</div>
